/* reset styles */
* { margin: 0px; padding: 0px; }

/* make the background of the page black */
body { background: black;}

/* mickey canvas */
#canvas {
  width: 600px;
  height: 800px;
  position: relative;
  background: white;
}


#canvas div{
  border-radius: 200px;
  position: absolute;
}


#ear1 {
  width: 100px;
  height: 100px;
  background: black;
  top: 360px;
  left:80px;
}

#ear2 {
  width: 100px;
  height: 100px;
  background: black;
  top: 330px;
  left:250px;
}

#head {
  width: 140px;
  height: 140px;
  background: beige;
  top: 400px;
  left:160px;
}

#eye1 {
  width: 25px;
  height: 20px;
  background: black;
  top: 450px;
  left:200px;
  transform: rotate(-45deg);
}

#eye2 {
  width: 20px;
  height: 20px;
  background: black;
  top: 440px;
  left:265px;
  transform: rotate(45deg);
}

#nose {
  width: 30px;
  height: 30px;
  background: black;
  top: 450px;
  left:240px;
}

#mouth {
  width: 30px;
  height: 30px;
  background: #aa0f0f;
  top: 490px;
  left:240px;
  transform: rotate(-15deg);
}

#body {
  width: 200px;
  height: 200px;
  background: #aa0f0f;
  top: 520px;
  left:200px;
}

#button-1 {
  width: 32px;
  height: 32px;
  top: 560px;
  left:260px;
  background: black;
}

#button-2 {
  width: 32px;
  height: 32px;
  top: 550px;
  left:300px;
  background: black;
  background: black;s
}

#foot-1 {
  width: 130px;
  height: 150px;
  background: #ffe92b;
  top: 570px;
  left:160px;
  transform: rotate(-30deg);
}

#foot-2 {
  width: 130px;
  height: 150px;
  background: #ffe92b;
  top: 550px;
  left:340px;
  transform: rotate(20deg);
}