/* reset styles */
* { margin: 0px; padding: 0px; }

/* make the background of the page black */
body { background: black;}

/* mickey canvas */
#canvas {
  width: 600px;
  height: 800px;
  position: relative;
  background: white;
}


#canvas div{
  border-radius: 200px;
  position: absolute;
}


#ear1 {
  width: 100px;
  height: 100px;
  background: black;
  top: 100px;
  left:80px;
}

#ear2 {
  width: 100px;
  height: 100px;
  background: black;
  top: 100px;
  left:250px;
}

#head {
  width: 140px;
  height: 140px;
  background: beige;
  top: 150px;
  left:150px;
}

#eye1 {
  width: 25px;
  height: 20px;
  background: black;
  top: 200px;
  left:200px;
}

#eye2 {
  width: 20px;
  height: 20px;
  background: black;
  top: 200px;
  left:265px;
}

#nose {
  width: 30px;
  height: 30px;
  background: black;
  top: 210px;
  left:240px;
}

#mouth {
  width: 30px;
  height: 30px;
  background: #aa0f0f;
  top: 240px;
  left:260px;
}

#body {
  width: 200px;
  height: 200px;
  background: #aa0f0f;
  top: 280px;
  left:150px;
}


#foot-1 {
  width: 130px;
  height: 150px;
  background: #ffe92b;
  top: 400px;
  left:140px;
  transform: rotate(-30deg);
}

#foot-2 {
  width: 130px;
  height: 150px;
  background: #ffe92b;
  top: 370px;
  left:260px;
  transform: rotate(20deg);
}