body
	{background: lightgreen}
/*
.grid-item {
	background: white;} */

body.pink-bg {
	background-color: pink;
}

body.blue-bg {
	background-color: lightblue;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto;
	grid-template-rows: 200px 200px 200px 200px;
	grid-gap: 20px 20px;}

#item-1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
	position: center
	}

#item-3 {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	position: center} 

#item-5 {
	grid-column-start: 8;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 5;}

#item-16 {
	grid-column-start: 3;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 5;} 

#img1:hover {
	background-image: url('img/girljacket.png')
}
#img1:hover img{
	display: none;
}

/*
#img2:hover {
	background-image: url('img/.png')
}
#img2:hover img{
	display: none;
} */

@media only screen and (max-width: 600px;) {
	body {background-color:red;}}

