body
	{background: lightblue}
/*
.grid-item {
	background: white;} */

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto;
	grid-template-rows: 200px 200px 200px 200px;
	grid-gap: 20px 20px;}

#item-1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
	position: center }

#item-3 {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;} 

#item-5 {
	grid-column-start: 8;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 5;}

#item-16 {
	grid-column-start: 3;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 5;} 